.board{
  z-index: 0;
  width: 612px;
  height: 612px;
  margin: 150px auto;
}

.board canvas:hover {
  cursor: pointer;
}

.grid{
  z-index: 0;
  border: 2px solid black;
  background-color: #eee;
  float: left;
  color: white;
}